/* PokerTable.css */

html,
body {
  margin: 0;
  font-family: "Asap", serif;
  overflow: hidden;
}

/* Для мобильных устройств */
@media (orientation: portrait) {
  .main-container {
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: cadetblue;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .poker-desk {
    position: absolute;
    width: 76%;
    display: flex;
  }
}

.background-image {
  height: 100%;
  width: 100%;
}
