.main-container-session {
}

.player {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 20%;
  height: 13%;
}

.player-top-1 {
  top: -2%;
  left: 20%;
}

.player-top-2 {
  top: -2%;
  right: 20%;
}

.player-left-1 {
  left: -6%;
  top: 30%;
  transform: translateY(-25%);
}

.player-left-2 {
  left: -6%;
  top: 70%;
  transform: translateY(-75%);
}

.player-right-1 {
  right: -6%;
  top: 30%;
  transform: translateY(-25%);
}

.player-right-2 {
  right: -6%;
  top: 70%;
  transform: translateY(-75%);
}

.player-bottom-1 {
  bottom: -2%;
  left: 50%;
  transform: translateX(-50%);
}

/* bets ========================== */

.player-bet {
  height: 3%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  color: rgba(255, 255, 255, 0.8);
  border-radius: 4vw;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 3%;
  padding-right: 3%;
  font-size: 2.5vw;
  font-weight: 500;
}

.player-top-1-bet {
  top: 12%;
  left: 30%;
  transform: translate(-50%);
}

.player-top-2-bet {
  top: 12%;
  right: 30%;
  transform: translate(50%);
}

.player-left-1-bet {
  left: 14%;
  top: 32%;
}

.player-left-2-bet {
  left: 14%;
  top: 65%;
}

.player-right-1-bet {
  right: 14%;
  top: 32%;
}

.player-right-2-bet {
  right: 14%;
  top: 65%;
}

.player-bottom-1-bet {
  bottom: 12%;
  left: 50%;
  transform: translate(-50%);
}

.blinde {
  height: 3%;
  position: absolute;
  bottom: 36%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #eeeeee;
  border: #eeeeee solid 1px;
  border-radius: 4.5vw;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 2%;
  padding-right: 3%;
  font-size: 2.5vw;
  font-weight: 200;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8%;
}

.pot {
  height: 3%;
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.3);
  color: rgba(255, 255, 255, 0.8);
  border-radius: 4.5vw;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 3%;
  padding-right: 4%;
  font-size: 3vw;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8%;
}

.pot-icon {
  height: 100%;
  width: 100%;
  flex: 1;
}

.commun-card-container {
  height: 10%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}

.commun-card {
  height: 100%;
  flex: 1;
  /* border: 1px solid #c4c4c4;
  border-radius: 7px; */
}
